@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column h-100">
    <h1 class="text-center pt-5 display-4">Bem-vindo(a) de volta!</h1>
    <div class="container" style="padding-top: 9vh">
        <div class="row">
            <div class="pb-5 col d-flex justify-content-center">
                <a asp-area="" asp-controller="Pacientes" asp-action="Index" class="icon-link">
                    <div class="card" style="width: 18rem;">
                        <div class="text-center" style="font-size: 100px"><i class="fas fa-head-side-mask"></i></div>
                        <div class="card-body">
                            <h5 class="text-center card-title h3">Pacientes</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pb-5 col d-flex justify-content-center">
                <a asp-area="" asp-controller="Medicos" asp-action="Index" class="icon-link">
                    <div class="card" style="width: 18rem;">
                        <div class="text-center" style="font-size: 100px"><i class="fas fa-user-md"></i></div>
                        <div class="card-body">
                            <h5 class="text-center card-title h3">Médicos</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pb-5 col d-flex justify-content-center">
                <a asp-area="" asp-controller="Funcionarios" asp-action="Index" class="icon-link">
                    <div class="card" style="width: 18rem;">
                        <div class="text-center" style="font-size: 100px"><i class="fas fa-user-tie"></i></div>
                        <div class="card-body">
                            <h5 class="text-center card-title h3">Funcionários</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container pb-5">
        <div class="row">
            <div class="pb-5 col d-flex justify-content-center">
                <a asp-area="" asp-controller="Produtos" asp-action="Index" class="icon-link">
                    <div class="card" style="width: 18rem;">
                        <div class="text-center" style="font-size: 100px"><i class="fas fa-box"></i></div>
                        <div class="card-body">
                            <h5 class="text-center card-title h3">Produtos</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pb-5 col d-flex justify-content-center">
                <a href="" class="icon-link">
                    <div class="card" style="width: 18rem;">
                        <div class="text-center" style="font-size: 100px"><i class="fas fa-exclamation-trianglee"></i></div>
                        <div class="card-body">
                            <h5 class="text-center card-title h3">W.I.P</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pb-5 col d-flex justify-content-center">
                <a href="" class="icon-link">
                    <div class="card" style="width: 18rem;">
                        <div class="text-center" style="font-size: 100px"><i class="fas fa-exclamation-trianglee"></i></div>
                        <div class="card-body">
                            <h5 class="text-center card-title h3">W.I.P</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Font Awesome JS -->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-a11y="true"></script>
</div>

